<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href={% block style %}{% endblock %}>
</head>
<body>
    <header>
        <nav>
            <h1 class="logo"><a href="{{ url_for('page_catalogue') }}">Marketplace</a></h1>
            <ul>
                {% if session["user"] %}
                    <li><a href="{{ url_for('users.page_login') }}">Log Out</a>
                {% else %}
                    <li><a href="{{ url_for('users.page_sign_up') }}">Sign Up</a>
                    <li><a href="{{ url_for('users.page_login') }}">Log In</a>
                {% endif %}

            </ul>
        </nav>
        <input type="text" placeholder="Search for items..." class="search-bar" />
        <button class="search-btn">🔍</button>
        {% if session["user"] %}
            <a href="{{ url_for('basket.page_basket') }}">Basket</a>
        {% endif %}
    </header>

    {% block content %} {% endblock %}
</body>
<footer>
    <p>&copy; 2025 Marketplace</p>
</footer>
<script src={% block script %}{% endblock %}></script>
</html>
