{% extends 'base.html' %}

{% block title %}Marketplace{% endblock %}
{% block style %}"{{ url_for('static', filename='css/catalogue.css') }}"{% endblock %}

{% block content %}
<main class="catalogue-container">
    <h2 class="catalogue-title">Available Items</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <img src="https://via.placeholder.com/300x200" alt="Product Image" class="product-img" />
            <h3 class="product-title">{{ product[1] }}</h3>
            <p class="product-price">£{{ product[2] / 100 }}</p>
            <p class="seller-name">Seller: {{ product[3] }}</p>
            <p class="seller-rating">{{ '⭐' * product[4]|int }}</p>
            <button><a href="{{ url_for('item.page_item', id=product[0]) }}">View Product</a></button>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
