{% extends 'base.html' %}

{% block title %}Product Page{% endblock %}
{% block style %}"{{ url_for('static', filename='css/item.css') }}"{% endblock %}

{% block content %}
<main class="product-container">
    <div class="image-section">
        <div class="thumbnail-container">
            <div class="thumbnail">
                <img src="" alt="">
            </div>
            <div class="thumbnail">
                <img src="" alt="">
            </div>
            <div class="thumbnail">
                <img src="" alt="">
            </div>
        </div>
        <div class="main-image">
            <img src="https://c4.wallpaperflare.com/wallpaper/107/184/867/2500x2500-px-digital-art-neon-new-retro-wave-wallpaper-preview.jpg" alt="Product Image">
        </div>
    </div>

    <div class="details-section">
        <h2 class="product-name">{{ item_info["name"] }}</h2>
        <h3>{{ id }}</h3>
        <p class="product-price">£{{ item_info["price_pennies"] / 100 }}</p>
        <p class="seller-name">Seller: {{ item_info["seller_id"] }}</p>
        <form action="{{ url_for('basket.basket_add', id=item_info["id"]) }}" method="POST">
            {% if session["user"] %}
                <button type="submit" class="add-to-basket">Add To Basket</button>
            {% else %}
                <button type="submit" class="add-to-basket" disabled>Log In to Add To Basket</button>
            {% endif %}
        </form>
        <p class="product-description">
            {{ item_info["description"] }}    
        </p>
        <div class="reviews">
            <p class="seller-rating">{{ '⭐' * item_info["seller_rating"]|int }}</p>
        </div>
    </div>
</main>
{% endblock %}
